*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 237, 239);
}

main {
    display: flex;
    flex-direction: column;
}

.profile {
    padding: 0;
    margin: 0;
    display: inline; 
    float: left;
    margin-right: 20px;
    font-size: 35px;
}
.profile-text {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding-bottom: 20px;
}



h2 {
    flex: 0 0 20%;
    padding-left: 60px;
    color: rgb(194, 121, 166);
}

header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 251);
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 43px;
}


.navtop {
    padding-top: 15px;
    margin-right: 25px
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    display: inline-block;
    float: right;
    border-style: dashed;
    border-color: pink ;
}

.navtop ul{
    list-style-type: none;
   

}

.navtop ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;


}

.navtop  a{
    text-decoration: underline;
    color:white;
}

a {

} 

p {
    padding: 20px;

}

.profile-pic {
    height: 200px;
    width: 200px;
    margin-top: 45px;
    margin-left: 65px;
    margin-bottom: 35px;
    background-image: url("./Profile Pic.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 60px;
    border:solid 5px;
    border-color: pink;

}


.grid {
    display: flex;
    padding: 20px;
    width: 300px;

}

.grid-boxes {
    flex: 1;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
    padding:10px;

}

.grid-boxes h3 {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 251);
    color: #ffffff;
}

.grid-boxes p {
    border-width: 5px;
    border-style:solid;
    text-align: center;
    background-color: pink;
    color: white;
}

.grid-boxes img {
    background-size: cover;
    width: 300px;
}



.contacts {
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: inline-block;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    padding: 10px;
    color: rgb(194, 121, 166);
    

}


@media screen and (max-width: 992px) {
    header {
        background: pink;
        font-size: 65px ;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 85px;
    }
    .grid {
        display:block;
    }
}
@media screen and (max-width: 576px) {
    header {
        font-size: 140px;
    }
}
