*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(247, 237, 239);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.profile {
    padding: 0;
    margin: 0;
    display: inline; 
    float: left;
    margin-right: 20px;
    font-size: 35px;
}
.profile-text {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding-bottom: 20px;
}



h2 {
    flex: 0 0 20%;
    padding-left: 60px;
    color: rgb(194, 121, 166);
    padding-bottom: 15px;
}

header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 251);
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 43px;
}


.navtop {
    padding-top: 15px;
    margin-right: 25px
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    display: inline-block;
    float: right;
    border-style: dashed;
    border-color: pink ;
}

.navtop ul{
    list-style-type: none;
   

}

.navtop ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;


}

.navtop  a{
    text-decoration: underline 5px;
    color:white;
}

a {

} 

p {
    padding: 20px;

}

.profile-pic {
    height: 200px;
    width: 200px;
    margin-top: 45px;
    margin-left: 65px;
    margin-bottom: 35px;
    background-image: url("./Profile Pic.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 60px;
    border:solid 5px;
    border-color: pink;

}


.grid-box1 {
    width: 300px;
    height: 20%;
    text-align: center;
    margin-left: 350px;
    margin-bottom: 20px;
}

.grid-box1 h3 {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 251);
    color: #ffffff;
    width: 300%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

.grid-box1 p {
    border-width: 5px;
    border-style:solid;
    border-color:white;
    text-align: center;
    background-color: pink;
    color: white;
    width: 300%;
}

.grid-box1 img {
    object-fit: cover;
    width: 300%;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300%;

}

.grid-boxes {
    flex: 1;
    box-sizing: border-box;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
    margin-left: 150px;
    padding: 5px;
    margin-bottom: 20px;

}

.grid-boxes h3 {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(201, 201, 251);
    color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

.grid-boxes p {
    border-width: 5px;
    border-style:solid;
    border-color: white;
    text-align: center;
    background-color: pink;
    color: white;
}

.grid-boxes img {
    object-fit: cover;
    width: 300px ;
    
}

.contacts {
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    display: inline-block;
}

.contacts ul {
    list-style-type: none;
}

.contacts ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline 5px;
    padding: 15px;
    color: rgb(194, 121, 166);
    

}


@media screen and (max-width: 992px) {
    h2 {
        background: pink;
        font-size: 35px ;
    }

    .grid-box1 {
        width: 25% ;
        margin-left: 0;
   }
    .grid {
        width: 50% ;
        margin-left: 0;
    }

    .grid-boxes {
        width: 50%;
    }

    .profile-text {
        display: block;
    }

    .contacts {
        display: block;
    }

}
@media screen and (max-width: 576px) {
    h2 {
        font-size: 65px;
}
}
